$margin-zero: 0;
$padding-zero: 0;
$box-sizing-box: border-box;
$text-decoration-none: none;
$scroll-behavior-html: smooth;
$section-padding: 100px 0;
$margin-auto: auto;
$position-absolute: absolute;
$position-fixed: fixed;
$position-realtive: relative;
$center-center: center;
$background-dodgerblue: dodgerblue;
$color-yellow: yellow;
$mycursor: pointer;
$color-white: #fff;
$font-family-font: 'Poppins', sans-serif;
$display-flex: flex;
$flex-wrap: wrap;
$font-family-ubuntu: 'Ubuntu', sans-serif;
$height-45: 45px;
$font-weight-500: 500;
$text-decoration-underline: underline;
$widthheight: 100%;
$tenpx: 10px;

*{
    margin: $margin-zero;
    padding: $padding-zero;
    box-sizing: $box-sizing-box;
    text-decoration: $text-decoration-none;
    
}
html{
    scroll-behavior: $scroll-behavior-html;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: $tenpx;
}
::-webkit-scrollbar-track {
    background: $color-white;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: $section-padding;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: $margin-auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: $font-family-font;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: $display-flex;
    flex-wrap: $flex-wrap;
    align-items: $center-center;
    justify-content: space-between;
}
section .title{
    position: $position-realtive;
    text-align: $center-center;
    font-size: 40px;
    font-weight: $font-weight-500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: $font-family-ubuntu;
}
section .title::before{
    content: "";
    position: $position-absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: $position-absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color:darkblue;
    padding: 0 5px;
    background: $color-white;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: $position-fixed;
    width: $widthheight;
    z-index: 999;
    padding: 30px 0;
    font-family: $font-family-ubuntu;
    transition: all 0.3s ease;
    background-color: rgba(17, 17, 17, 0.719);
}
.navbar.sticky{
    padding: 15px 0;
    background: $background-dodgerblue;
}
.navbar .max-width{
    display: $display-flex;
    align-items: $center-center;
    justify-content: space-between;
}
.navbar .logo a{
    color: $color-white;
    font-size: 35px;
    font-weight: calc($font-weight-500 + 100);
}
.navbar .logo a span{
    color:$background-dodgerblue;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: $color-white;
}
.navbar .menu li{
    list-style: $text-decoration-none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: $color-white;
    font-size: 18px;
    font-weight: $font-weight-500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: $background-dodgerblue;
}
.navbar.sticky .menu li a:hover{
    color: $color-white;
}

/* menu btn styling */
.menu-btn{
    color: $color-white;
    font-size: 23px;
    cursor: $mycursor;
    display: $text-decoration-none;
}
.scroll-up-btn{
    position: $position-fixed;
    height: $height-45;
    width: 42px;
    background:$background-dodgerblue;
    right: 30px;
    bottom: $tenpx;
    text-align: $center-center;
    line-height: $height-45;
    color: $color-white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: $mycursor;
    opacity: $margin-zero;
    pointer-events: $text-decoration-none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: $margin-auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* home section styling */
.home{
    display: $display-flex;
    background: url("../image/banner4.jpg") no-repeat center;
    height: 100vh;
    color: $color-white;
    min-height: 500px;
    background-size: cover;
    background-attachment: $position-fixed;
    font-family: $font-family-ubuntu;

    .max-width{
        margin: auto 0 auto 30px;
    }

    .home-content {
        .text-1{
            font-size: 27px;
        }
        .text-2{
            font-size: 75px;
            font-weight: calc($font-weight-500 + 100);
            margin-left: -3px;
        }
        .text-3{
            font-size: 40px;
            margin: 5px 0;
        }
        .text-3 span{
            color: $color-yellow;
            font-weight: $font-weight-500;
        }
        a{
            display: inline-block;
            background: $background-dodgerblue;
            color: $color-white;
            font-size: 25px;
            padding: 12px 36px;
            margin-top: 20px;
            font-weight: 400;
            border-radius: 6px;
            border: 2px solid $background-dodgerblue;
            transition: all 0.3s ease;
        }
        a:hover{
            color: $background-dodgerblue;
            background: $text-decoration-none;
        }
    }
}




/* skills section styling */
.skills {
    .title::after{
        content: "what i know";
    }
    .skills-content .column{
        width: calc(50% - 30px);
    }
    .skills-content .left .text{
        font-size: 20px;
        font-weight: calc($font-weight-500 + 100);
        margin-bottom: $tenpx;
    }
    .skills-content .left p{
        text-align: justify;
    }
    .skills-content .left a{
        display: inline-block;
        background: $background-dodgerblue;
        color: #fff;
        font-size: 18px;
        font-weight: $font-weight-500;
        padding: 8px 16px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid $background-dodgerblue;
        transition: all 0.3s ease;
    }
    .skills-content .left a:hover{
        color: $background-dodgerblue;
        background: $text-decoration-none;
    }
    .skills-content .right .bars{
        margin-bottom: 15px;
    }
    .skills-content .right .info{
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }
    .skills-content .right span{
        font-weight: $font-weight-500;
        font-size: 18px;
    }
    .skills-content .right .line{
        height: 5px;
        width: $widthheight;
        background: lightgrey;
        position: relative;
    }
    .skills-content .right .line::before{
        content: "";
        position: absolute;
        height: $widthheight;
        left: 0;
        top: 0;
        background: darkblue;
    }
    .skills-content .right .html::before{
        width: 90%;
    }
    .skills-content .right .css::before{
        width: 80%;
    }
    .skills-content .right .js::before{
        width: 75%;
    }
    .skills-content .right .php::before{
        width: 85%;
    }
    .skills-content .right .mysql::before{
        width: 85%;
    }
}

/* contact section styling */
.contact{
    .title::after{
        content: "get in touch";
    }
    .contact-content{
        .column{
            width: calc(50% - 30px);
        }
        .text{
            font-size: 20px;
            font-weight: calc($font-weight-500 + 100);
            margin-bottom: $tenpx;
        }
        .left p{
            text-align: justify;
        }
        .left .icons{
            margin: $tenpx 0;
        }
        .row{
            display: flex;
            height: 65px;
            align-items: center;
        }
        .row .info{
            margin-left: 30px;
        }
        .row i{
            font-size: 25px;
            color: $background-dodgerblue;
        }
        .info .head{
            font-weight: $font-weight-500;
        }
        .info .sub-title{
            color: #333;
        }
    } 
    .right form .fields{
        display: flex;
    }
    .right form .field,
    .right form .fields .field{
    height: 45px;
    width: $widthheight;
    margin-bottom: 15px;
    }
    .right form .textarea{
        height: 80px;
        width: $widthheight;
    } 
    .right form .name{
        margin-right: $tenpx;
    }
    .right form .email{
        margin-left: $tenpx;  
    }
    .right form .field input, .right form .textarea textarea{
        height: $widthheight;
        width: $widthheight;
        border: 1px solid lightgrey;
        border-radius: 6px;
        outline: $text-decoration-none;
        padding: 0 15px;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        transition: all 0.3s ease;
    }
    .right form .field input:focus,
    .right form .textarea textarea:focus{
        border-color: #b3b3b3;
    }
    .right form .textarea textarea{
        padding-top: $tenpx;
        resize: $text-decoration-none;
    }
    .right form .button{
        height: 47px;
        width: 170px;
    }
    .right form .button button{
        width: $widthheight;
        height: $widthheight;
        border: 2px solid rgb(1, 45, 90);
        background: $background-dodgerblue;
        color: $color-white;
        outline: $text-decoration-none;
        font-size: 20px;
        font-weight: $font-weight-500;
        border-radius: 6px;
        cursor: $mycursor;
        transition: all 0.3s ease;
    }
    .right form .button button:hover{
        color:$background-dodgerblue;
        background: $text-decoration-none;
    }

} 

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: $color-white;
    text-align: $center-center;
    span {
            a{
                color: $background-dodgerblue;
                text-decoration: $text-decoration-none;
            }
            a:hover{
                text-decoration: $text-decoration-underline;
            }
    }
}